<% provide(:title, '地図から検索') %>

<h1>地図から検索</h1>
<div class="row">
  <div class="col-md-3">
    <div class="sidebar-box">
      <div class="sidebar-title">
        イベント検索
      </div>
      <div class="sidebar-search">
        <%= form_with scope: :event_search, url: map_request_path, method: :get do |f| %>
          <%= f.label :name, 'イベント検索' %>
          <%= f.text_field :name , class: 'search_container' %><br>

          <%= f.label :tag_list, 'タグ' %>
          <%= f.text_field :tag_list %><br>

          <%= f.label :date, '日にち' %>
          <div class="input-group" data-target-input="nearest">
            <%= f.text_field :date, id: "date", class: "form-control datepicker", data: { target: '#date'} %>
            <div class="input-group-append" data-target="#date" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div><br>
            </div>
          </div><br>

          <% #deleteMakers()で既存のマーカーを削除してから指定の投稿を表示 %>
          <%= f.submit 'イベントを検索', class: "btn btn-primary", onclick: "deleteMakers()" %>

          <button type="button" class="btn btn-success w-100" onclick="getLocation()">
            現在地周辺を表示</button>
        <% end %>
        <br>
      </div>
    </div>
  </div>

  <div class="col-md-9">
    <div class="map">
      <div id="map_index" class="map-gmap"></div>
    </div>
    <%= render 'maps/index_map' %>
  </div>
</div>
