<%= provide(:title, @user.username + "さんのユーザーページ" ) %>

<h1><%= @user.username %>さんのユーザーページ</h1>
<div class="usershow-box">
  <div>
    <% if @user.img? %>
      <%= image_tag @user.img.thumb.url ,class:"profile-icon-large" %>
    <% end %>
  </div>
  <div class="usershow-introduction">
    <div class="usershow-name">
      <%= @user.username%>
    </div>
    <div class="usershow-profile">
      <%= @user.profile %>
    </div>
  </div>
</div>

<% unless @user.events.blank? %>
  <h2>主催中のイベント</h2>
  <div class="row">
    <% @user.events.each do |event| %>
      <div class="col-sm-4">
        <%= render 'events/feed', event: event %>
      </div>
    <% end %>
  </div>
<% end %>

<br>

<% unless @user.participate_events.where.not(user_id: @user.id).blank? %>
  <h2>参加中のイベント</h2>
  <div class="row">
    <% @user.participate_events.where.not(user_id: @user.id).each do |event| %>
      <div class="col-sm-4">
        <%= render 'events/feed', event: event %>
      </div>
    <% end %>
  </div>
<% end %>