<% if user_signed_in? then %>
  <div class="sidebar-box d-none d-md-block">
    <div class='user_info-box'>
      <%= link_to user_path( id:current_user.id) do %>
        <div>
          <%= image_tag current_user.img.thumb.url, class: "profile-icon-large" %>
        </div>
        <%= current_user.username %>
      <% end %>
      <div class="user_info-stats">
        <%= render 'users/shared/stats' %>
      </div>
      <div class="user_info-button">
        <%= link_to 'イベント作成', new_event_path, class:"btn btn-light", id:"create_event_btn" %>
      </div>
    </div>
  </div>
<% end %>