<div class="eventlist-box fly">
  <%= link_to event_path(event) do %>
    <div class="eventlist-name">
      <p><%= event.name %></p>
    </div>
    <object class="eventlist-tag_list">
      <% event.tag_list.each do |tag| %>
        <span class="badge badge-primary eventlist-tag">
          <%= link_to tag, events_path(tag_name: tag), class: "text-white" %>
        </span>
      <% end %>
    </object>
    <div class="eventlist-img">
      <% if event.possible_to_participate? %>
        <p class="eventlist-stamp_red">参加不可</p>
      <% else %>
        <p class="eventlist-stamp_green">参加可</p>
      <% end %>
      <% if event.img? %>
        <%= image_tag event.img.thumb.url %>
      <% end %>
    </div>
    <dl class="eventlist-info">
      <dt><i class="fa fa-clock-o"></i></dt>
      <dd>
        <%= render 'events/time', event: event %>
      </dd>
      <% if event.address? %>
        <dt><i class="fa fa-map-marker"></i></dt>
        <dd>
          <%= event.address %>
        </dd>
      <% end %>
    </dl>
  <% end %>
</div>
