<%= f.label :name %>
<%= f.text_field :name, class: 'form-control' %>

<%= f.label :text %>
<%= f.text_field :text, class: 'form-control' %>

<%= f.label :start_time %>
<div class="input-group" data-target-input="nearest">
  <%= f.text_field :start_time, id: "start_time", class: "form-control datetimepicker", data: { target: '#start_time'} %>
  <div class="input-group-append" data-target="#start_time" data-toggle="datetimepicker">
    <div class="input-group-text"><i class="fa fa-calendar"></i></div><br>
  </div>
</div>

<%= f.label :ending_time %>
<div class="input-group" data-target-input="nearest">
  <%= f.text_field :ending_time, id: "ending_time", class: "form-control datetimepicker", data: { target: '#ending_time'} %>
  <div class="input-group-append" data-target="#ending_time" data-toggle="datetimepicker">
    <div class="input-group-text"><i class="fa fa-calendar"></i></div><br>
  </div>
</div>

<%= f.label :participant_limit %>
<%= f.number_field :participant_limit %>

<%= f.label :tag_list %>
<%= f.text_field :tag_list, value: @event.tag_list.join(','), class: "form-control" %>

<%= f.label :img %>
<%= f.file_field :img %>

<%= f.submit %>