<div class="sidebar-box">
  <div class="sidebar-title">
    参加者
  </div>
  <ul>
    <% event.participate_users.each do |user| %>
      <%= link_to user_path(user.id) do %>
        <li>
          <% if user==event.user then %>
            <% if user.img? %>
              <%= image_tag user.img.thumb.url ,class:"profile-icon-small" %>
            <% end %>
            <i class="fa 	fa-star fa-la "></i>
            <%= user.username %>
          <%else%>
            <% if user.img? %>
              <%= image_tag user.img.thumb.url ,class:"profile-icon-small" %>
            <% end %>
            <%= user.username %>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>