<div class="sidebar-box">
  <div class="sidebar-title">
    イベント検索
  </div>
  <div class="sidebar-search">
    <%= form_with(scope: :event_search, url: events_path, method: :get, local: true) do |f| %>

      <%= f.label :name, 'イベント検索' %>
      <%= f.select :keyword, [ ['開始時間が新しい順', 'new'],
                             ['開始時間が古い順', 'old']
                      ] %><br>

      <%= f.label :name, 'イベント検索' %>
      <%= f.text_field :name , class: 'search_container' %><br>

      <%= f.label :tag_list, 'タグ' %>
      <%= f.text_field :tag_list %><br>

      <%= f.label :date, '日にち' %>
      <%= f.text_field :date, class: 'date-picker' %><br>

      <%= f.submit('検索') %>
    <% end %>
  </div>
</div>
