<%= provide(:title) %>

<div class="row">
  <div class="col-md-9 center">
    <h1>イベント一覧</h1>
    <%= form_with(scope: :event_search, url: events_path, method: :get) do |f| %>
      <%= f.hidden_field :name ,value:@search_params[:name] %>
      <%= f.hidden_field :tags ,value:@search_params[:tag_list] %>
      <%= f.hidden_field :date ,value:@search_params[:date] %>
      <%= f.select :keyword, @sort_list, { selected: @search_params[:keyword] }, onChange: "javascript: this.form.submit();" %><br>
    <% end %>
    <div class="row">
      <% @events.each do |event| %>
        <div class="col-sm-6">
          <%= render 'feed', event: event %>
        </div>
      <% end %>
    </div>
    <%= paginate @events %>
  </div>
  <div class="col-md-3">
    <%= render 'shared/search', url: events_path, send_locally: true, search_params: @search_params %>
  </div>
</div>