<% @events.each do |event| %>
  <li>
    <%= link_to event_path(event) do %>
      <%= event.name %>
      <%= event.text %>
      <%=  l(event.start_time , format: :long, default: '-') %>
      <%=  l(event.ending_time , format: :long, default: '-') %>
      参加人数
      <%= event.participations.count %>
      /
      <%= event.participant_limit %>
    <% end %>
  </li>
<% end %>