<%= provide(:title, 'リストから検索') %>

<h1>イベント一覧</h1>
<div class="row">
  <div class="col-md-3">
    <%= render 'shared/user_info' %>
    <%= render 'shared/search', url: events_path, send_locally: true, search_params: @search_params %>
  </div>
  <div class="col-md-9 center">
    <h2>
      <%= @title %>
      <div class="d-none d-md-block eventlist-order">
        <%= render 'events/events_order' %>
      </div>
    </h2>
    <div class="d-block d-md-none">
      <%= render 'events/events_order' %>
    </div>
    <div class="row">
      <% @events.each do |event| %>
        <div class="col-sm-6">
          <%= render 'events/feed', event: event %>
        </div>
      <% end %>
    </div>
    <%= paginate @events %>
  </div>
</div>