<div class="row">
  <div class="col-md-3">
    <%= render 'events/participantion_button', event: @event %>
    <%= render 'events/participant_list', event: @event %>
  </div>
  <div class="col-md-9">
    <div class="eventshow-box">
      <div class="eventshow-name">
        <%= @event.name %>
      </div>
      <div class="eventshow-time">
        活動時間:
        <%= render 'events/time', event: @event %>
      </div>
      <div class="eventshow-tag">
        <% @event.tag_list.each do |tag| %>
          <span class="badge badge-primary">
            <%= link_to tag, events_path(tag_name: tag), class: "text-white" %>
          </span>
        <% end %>
      </div>
      <div class="eventshow-img">
        <% if @event.img? %>
          <%= image_tag @event.img.url ,class:"img-fluid " %>
        <% end %>
      </div>
      <div class="eventshow-text">
        <%= @event.text %>
      </div>
      <% if @event.owner?(current_user) %>
        <%= link_to "イベント編集", edit_event_path(@event) %>
        <%= link_to "イベント削除", event_path ,method: :delete %>
      <% end %>
    </div>
  </div>
</div>