<%= @event.name %>
<%= @event.text %>
<%=  l(@event.start_time , format: :long, default: '-') %>
<%=  l(@event.ending_time , format: :long, default: '-') %>

<b>参加人数:</b> 
<%= @event.participations.count %>
/
<%= @event.participant_limit %>

<% if @event.participated_by?(current_user) %>
  <p><%=link_to "イベント参加取り消し", event_participation_path(@event.id), method: :delete %></p>
<% else %>
  <p><%=link_to "イベント参加", event_participations_path(@event.id), method: :post %></p>
<% end %>

<%= link_to "イベント編集", edit_event_path(@event) %>
<%= link_to "イベント削除", event_path ,method: :delete %>