<header>
  <nav class='navbar navbar-expand-md navbar-dark fixed-top header'>
    <div class='container'>
      <%= link_to SITE_TITLE, root_path, class: 'navbar-brand'%>
      <button type='button' class='navbar-toggler' 
              data-toggle='collapse' data-target='#navbarNav' 
              aria-controls='navbarNav' aria-expanded='false' aria-label='ナビゲーションの切替'>
        <span class='navbar-toggler-icon'></span>
      </button>
      <div class='collapse navbar-collapse' id='navbarNav'>
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class='nav-item' >
              <%= render 'layouts/nav_link', text: content_tag(:i, 'マイページ', class: 'fa fa-user'), path: user_path(current_user.id) %>
            </li>
            <li class='nav-item' >
              <%= render 'layouts/nav_link', text: content_tag(:i, 'プロフィール変更', class: 'fa fa-edit'), path: edit_user_registration_path %>
            </li>
            <li class='nav-item' >
              <%= link_to content_tag(:i, 'リストから検索', class: 'fa fa-search'), events_path, class: "d-block d-md-none nav-link" %>
            </li>
            <li class='nav-item' >
              <%= link_to content_tag(:i, '地図から検索', class: 'fa fa-map-o'), maps_path, class: "d-block d-md-none nav-link" %>
            </li>
            <li class='nav-item' >
              <%= link_to notifications_path, class: "d-none d-md-block nav-link rounded-pill" do %>
                <i class="fa fa-bell-o "></i> 
                通知
                <%if notifications_unchecked? %>
                  <i class="fa fa-circle" style="color: gold;"></i>
                <% end %>
              <% end %>
              <%= link_to notifications_path, class: "d-block d-md-none nav-link" do %>
                <i class="fa fa-bell-o "></i> 
                通知
                <%if notifications_unchecked? %>
                  <i class="fa fa-circle" style="color: gold;"></i>
                <% end %>
              <% end %>
            </li>
            <li class='nav-item' >
              <%= link_to content_tag(:i, 'イベント作成', class: 'fa fa-edit'), new_event_path, class: "d-block d-md-none nav-link" %>
            </li>
            <li class='nav-item' >
              <%= render 'layouts/nav_link', text: content_tag(:i, 'ログアウト', class: 'fa fa-sign-out'), path: destroy_user_session_path %>
            </li>
          <% else %>
            <li class='nav-item' >
              <%= render 'layouts/nav_link', text: 'サインアップ', path: new_user_registration_path %>
            </li>
            <li>
              <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: "d-none d-md-block nav-link rounded-pill" %>
              <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: "d-block d-md-none nav-link" %>
            </li>
            <li class='nav-item' >
              <%= render 'layouts/nav_link', text: 'ログイン', path: new_user_session_path %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>