<header>
    <nav>
      <%= render 'events/search' %>
      <% if user_signed_in? %>
        <strong><%= link_to current_user.username, root_path %></strong>
        <%= link_to 'プロフィール変更', edit_user_registration_path %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
        <%= link_to 'イベント作成', new_event_path %>
      <% else %>
        <%= link_to 'サインアップ', new_user_registration_path %>
        <%= link_to 'ログイン', new_user_session_path %>
        <%= link_to 'イベント作成', new_event_path %>
      <% end %>
    </nav>
</header>
