<nav class='navbar menubar d-none d-md-block'>
  <div class='container'>
    <div class="navbar-brand">
      <ol class="breadcrumb">
        <li><%= link_to "Home", root_path %></li>
        <% if before_page_title.present? %>
          <li><%= before_page_title %></li>
        <% end %>
        <% if request.fullpath != root_path %>
          <li><%= title %></li>
        <% end %>
      </ol>
    </div>
    <div class="navbar-brand menubar-list">
      <%= link_to 'リストから検索', events_path%>
      /
      <%= link_to '地図から検索', maps_path %>
    </div>
  </div>
</nav>