<%= provide(:title, 'プロフィール変更') %>

<div class="userform-box">
  <div class="userform-content center">
    <h2><%= t('.title', resource: resource.model_name.human) %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render 'layouts/error_messages', model: resource %>

      <%= f.label :username %>
      <%= f.text_field :username, autofocus: true, class: 'form-control' %>

      <%= f.label :profile %>
      <%= f.text_area :profile, class: 'form-control' %>

      <%= f.label :img %>
      <%= f.file_field :img, class: 'form-control' %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autocomplete: "email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
      <% end %>

      <div class="actions">
        <%= f.submit t('.update') %>
      </div>
    <% end %>
  </div>
</div>
